body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.main-login {
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.div-direita {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-direita>h1 {
    color: #77ffc0;
}

.div-esquerda {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #2f2841;
    border-radius: 20px;
    padding: 30px 35px;
    box-shadow: 10px 10px 40px #00000056;
}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.text-field>label {
    margin-bottom: 10px;
    color: #f0ffff;
}

.text-field>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #272430;
    color: #f0ffff;
    font-size: 12pt;
    outline: none;
    box-shadow: 10px 10px 40px #00000056;
    padding: 10px;
}

.password-field>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #272430;
    color: #f0ffff;
    font-size: 12pt;
    outline: none;
    box-shadow: 10px 10px 40px #00000056;
    padding: 10px;
}

.password-field>label {
    margin-bottom: 25px;
    color: #f0ffff;
}

.btn-login {
    width: 64%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    background: #00ff88;
}

.imagemleft {
    width: 35vw;
}